<!DOCTYPE html>
<html>
  <head>
    <title>550</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="bookmark" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css"/>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
  </head>


  <body>
    <!-- nav -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="/static/chat_bot_logo.png" width="35" height="35" class="d-inline-block align-top" alt="ChatBot">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


         <li class="nav-item">
          <a id='board_click' class="nav-link active" href="#board" style="color: grey;" onclick="showAndHidden2()">click here to add local files</a>
         </li>


        </ul>
      </div>
    </nav>
    <!-- nav end-->


    <!-- chatbox-->
    <div>
      <div id="chat_gen" style="display:block" class="py-2 px-1">
        <div  class="left col-5 px-5 py-5 chat-box js-chat-gen bg-white">
          <div class="media w-90 mb-1"><img src="/static/laiteng.jpg" alt="user" width="40" class="rounded-circle">
            <div class="ml-4"><div class="bg-light rounded py-2 px-3 mb-2"><p class="text-small mb-0 user-message text-left"></p><a>
            I can reply faster in English~
          </a></div></div></div>
        </div>

        <div id="display_gen" style="display:block" class="right col-7 px-1 py-0 display-box js-display-gen">
          <div class="ml-4"><div class="py-2 px-3 mb-2" style="font-size:15px"><p class="text-small mb-0 user-message text-left">        
          </p></div></div>
        </div>

        <div id="userInput_gen" class="left col-5 input-group input-group-lg mt-1 bg-white">
          <input id="textInput_gen" type="text" name="msg" placeholder="点此聊天..." class="form-control js-text">
          <input id="buttonInput_gen" type="submit" value="发送">
        </div>
      </div>


      <script>   

        var globalVariable = 'off'

        function showAndHidden2(){ 
          var p5=document.getElementById("board_click"); 
          p5.style.color='white';
          globalVariable = 'turnon'
          } 


        function genBotResponse() {
          var $chatlog = $('.js-chat-gen');
          var $displaylog = $('.js-display-gen');
          var rawText = $("#textInput_gen").val();

          if (globalVariable == 'turnon'){
                var addText = rawText + '&&&'
            }; 
          if (globalVariable == 'off'){
                var addText = rawText
            }; 

          var userHtml = '<div class="media w-90 mb-3"><img src="/static/vip.jpg" alt="user" width="40" class="rounded-circle"><div class="ml-4"><div class="bg-light rounded py-2 px-3 mb-2"><p class="text-small mb-0 user-message text-left"><span>' + rawText + '</span></p></div></div></div>';
          $("#textInput_gen").val("");
          $chatlog.append(userHtml);
          $chatlog[0].scrollTop = $chatlog[0].scrollHeight;


          $.get("/url", { msg: addText }).done(function(data) {
            pdf_doc = data[0];
            dialoge = data[2]
            internet = data[3];
          
            pdf_depth = '<embed width="100%" height="100%" src="' + pdf_doc + '"></embed>' 
            internet_result = $('<div class="ml-4"><div class="py-2 px-3 mb-2"><p class="text-small mb-0 user-message text-left" ></p></div></div>');

            var $botHtml = $('<div class="media w-90 mb-3"><img src="/static/laiteng.jpg" alt="user" width="40" class="rounded-circle"><div class="ml-4"><div class="bg-light rounded py-2 px-3 mb-2"><p class="text-small mb-0 user-message text-left"></p></div></div></div>');
            $botHtml.find('p').html(dialoge);
            $chatlog.append($botHtml);

            
            if (pdf_doc != 'none'){
                var $displayHtml = $(pdf_depth);
                $('#display_gen').empty();
                $displaylog.append($displayHtml);
           
            };           
            if (pdf_doc == 'none'){
                var $displayHtml = $(internet_result);
                $displayHtml.find('p').html(internet);
                $('#display_gen').empty();
                $displaylog.append($displayHtml);
            }  
            });
          

          $.get("/qa", { msg: addText }).done(function(data) {
            answer = data[0];

            if (answer != 'none'){
                var $botHtml = $('<div class="media w-90 mb-3"><img src="/static/laiteng.jpg" alt="user" width="40" class="rounded-circle"><div class="ml-4"><div class="bg-light rounded py-2 px-3 mb-2"><p class="text-small mb-0 user-message text-left"></p></div></div></div>');
                $botHtml.find('p').html(answer);
                $chatlog.append($botHtml);
            } 
            });
          }

 
        //触发function
        $("#textInput_gen").keypress(function(e) {
            if(e.which == 13) {
                genBotResponse();}
          });

        $("#buttonInput_gen").click(function() {
            genBotResponse();
          });
        
      </script>  
    </div>
  </body>
</html>